.container {
    margin: 0;
    padding: 0 0 70px 0;
    font-family: 'Gilroy', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (min-width: 767px) {
    .container {
        margin: 0;
        padding: 70px 0 0 0;
        font-family: 'Gilroy', sans-serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.title {
    font-weight: bold;
    font-size: calc(1.25em + 0.5vw);
    text-align: center;
    padding: 3vh 0 2vh 0;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color:  rgba(226, 226, 226, 1);
    width: 100%;

}

.itemContentWrapper {
    width: 100%;
    padding: 0 10vw ;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color:  rgba(226, 226, 226, 1);
}

.itemContent {
    width: 100%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(226, 226, 226, 1);
    padding: 1.5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.itemImage {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    margin-right: 5vw
}

.imgAndDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    font-weight: bold;
    color: rgba(24, 23, 37, 1);
}

.amount {
    color: rgba(124, 124, 124, 1);
    font-size: calc(0.5em + 0.5vw);
}

.quantityContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    margin-top: 10px;
}

.Qty {
    font-weight: bold;
    color: rgba(24, 23, 37, 1);

}

.qtyControlIcon {
    display: flex;
    cursor: pointer;
}

.crossAndPrice {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: flex-end;
    justify-content: space-between;

}

/* .price {
    display: flex;
    justify-self: center;
} */

.checkOut {
    display: flex;
    background-color: rgba(83, 177, 117, 1);
    border-radius: 10px;
    border-color: rgba(72, 158, 103, 1);
    padding: 1vh 0;
    width: 80%;
    justify-content: space-around;
    color: white;
    margin: 3vh 0;
        
}

.totalPrice {
    background-color: rgba(72, 158, 103, 1);
    /* color: rgba(252, 252, 252, 1); */
    font-size: calc(0.5em + 0.5vw);
    padding: 2px 5px;
    border-radius: 5px;
}