@import 'colors';

.container {
    margin: 0;
    padding: 0 0 70px 0;
    font-family: 'Gilroy', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 767px) {
        padding: 70px 0 0 0;
    }

    h1 {
        font-weight: bold;
        font-size: calc(1.25em + 0.5vw);
        text-align: center;
        padding: 3vh 0 2vh 0;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-color:  $customGrey;
        width: 100%;
    }
}

.itemContentWrapper {
    width: 100%;
    padding: 0 10vw ;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color:  $customGrey;
}

.itemContent {
    width: 100%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: $customGrey;
    padding: 1.5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.itemImage {
    position: relative;
    width: 70px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 5vw;
    cursor: pointer;
}

.imgAndDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    font-weight: bold;
    color: rgba(24, 23, 37, 1);
}

.amount {
    color: rgba(124, 124, 124, 1);
    font-size: calc(0.5em + 0.5vw);
}

.quantityContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    margin-top: 10px;
}

.Qty {
    font-weight: bold;
    color: rgba(24, 23, 37, 1);

}

.qtyControlIcon {
    display: flex;
    cursor: pointer;
}

.crossAndPrice {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: flex-end;
    justify-content: space-between;

}

.checkOut {
    display: flex;
    background-color: $customLightGreen;
    border-radius: 10px;
    border-color: $customGreen;
    padding: 1vh 0;
    width: 80%;
    justify-content: space-around;
    color: white;
    margin: 3vh 0;
        
}

.totalPrice {
    background-color: $customGreen;
    font-size: calc(0.5em + 0.5vw);
    padding: 2px 5px;
    border-radius: 5px;
}