.container {
  margin: 0 5vw;
  padding: 0 0 70px 0;
  font-family: "Gilroy", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.carrotImage {
  display: flex;
  justify-content: center;
  margin: 4vh 0 1vh 0;
}

.locationContainer {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  margin-bottom: 20px;
  color: rgba(76, 79, 77, 1);
  font-weight: 600;
}

.locationImage {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.subtitles {
  font-weight: bold;
  font-size: calc(1em + 0.5vw);
}

.subtitleRows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2vh 0;
}

.seeAll {
  color: rgba(16, 185, 129, 1);
  font-size: calc(0.25em + 0.5vw);
  cursor: pointer;
}

.productContainer {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap; 
}

.product {
  display: flex;
  border-radius: 10px;
  margin-right: 5vw;
}

@media screen and (min-width: 767px) {
  .productContainer {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap; 
  }

  .productContainer:hover {
    overflow-y: hidden;
    overflow-x: auto;

  }
  
  .product {
    display: flex;
    border-radius: 10px;
    margin-right: 2vw;
  }
}


.promo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  border-radius: 1em;
  margin: 0 1px;
  height: 100%;
}

.promoTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promoTitle {
  font-weight: bold;
  text-align: center;
  font-size: calc(1em + 0.5vw);
}

.promoContent {
  text-align: center;
  font-size: calc(0.25em + 0.5vw);
}

.vegeColor {
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(180deg, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, rgba(251, 215, 134, 0.3), rgba(236, 233, 230, 0.3), rgba(198, 255, 168, 0.3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: solid;
  border-width: 0.5px;
  border-color: rgba(242, 243, 242, 1);
}

.eggColor {
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(180deg, #f7797d, #FBD786, #F7797D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, rgba(251, 215, 134, 0.3), rgba(236, 233, 230, 0.3), rgba(251, 189, 191, 0.3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: solid;
  border-width: 0.5px;
  border-color: rgba(242, 243, 242, 1);
}

.drinkColor {
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(180deg, #f7797d, #FBD786, #B7DFF5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, rgba(251, 215, 134, 0.3), rgba(236, 233, 230, 0.3), rgba(109, 213, 250, 0.3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: solid;
  border-width: 0.5px;
  border-color: rgba(242, 243, 242, 1);
}

.vegeContentColor {
  color: #53b175;
}

.eggContentColor {
  color: #F8A44C;
}

.drinkContentColor {
  color: #4286F4;
}

.tabContainer {
  display: flex;
  flex-direction: row;
}

.tab {
  display: flex;
  flex-direction: row;  
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 15px;
  width: 100%;
  padding: 10px;
  justify-content: space-around;
}

.pulseTabBgColor {
  background-color: rgba(248, 164, 76, 0.15);
}

.riceTabBgColor {
  background-color: rgba(183, 223, 245, 0.25);
}

