@import 'colors';

.pwdContainer {
    position: relative;
    /* z-index: 1; */
    display:flex;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: $customGrey;
}
/* 
.pwdIcon {
    position: absolute; 
    left: -1px;
    top: -1px;
    z-index: 4;
} */