.container {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.upperPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 243, 242, 1);
    border-radius: 0 0 10px 10px;
}

.backArrowImg {
    display: flex;
    align-self: flex-start;
    margin: 3vh 5vw;
}

.productImage {
    position: relative;
    display: flex;
    width: 330px;
    height: 200px;
    margin: 5vh 0;
}

.addToBasket {
    display: flex;
    background-color: rgba(83, 177, 117, 1);
    border-radius: 10px;
    border-color: rgba(72, 158, 103, 1);
    padding: 1vh 0;
    width: 80%;
    justify-content: center;
    color: white;
    margin: 3vh 0;
    /* position: fixed;
    bottom: 13vh; */
        
}