.container {
    display: flex;
    width: 100%;
    
    input {
        outline: 2px solid transparent;
        outline-offset: 2px;
        width: 100%;
        border-radius: 0 10px 10px 0;
        padding: 1.7vw 1.7vw 1.7vw 1vw;
        background-color: rgba(242, 243, 242, 1);    
    }

    button {
        display: flex;
        cursor: pointer;
        background-color: rgba(222, 223, 222, 1);
        border-radius: 5px 0 0 5px;
        padding: 1vw;
        align-items: center;
    }

    button:hover {
        background-color: rgba(212, 213, 212, 1);
    }
}
