.container {
    margin: 0 5vw;
}

.signUpContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;

}


.inputContainer {
    margin-bottom: 3vh;

}

.emailContainer {
    position: relative;
    /* z-index: 1; */
    display:flex;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgba(226, 226, 226, 1);
    margin-bottom: 3vh;
}

.pwdContainer {
    position: relative;
    /* z-index: 1; */
    display:flex;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgba(226, 226, 226, 1);
    margin-bottom: 2vh;
    
}

.signUpTitle {
    text-align: left;
    font-weight: bold;
    font-size: calc(1.25em + 0.5vw);
}

.declaration {
    margin-bottom: 1.75vh
}

.signUpButton {
    margin-bottom: 1.75vh
}

.validationIcon {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}